body {
    background-color: #d3e7eb;
}

nav {
    background-color: #d3e0e2;
}

.navbar-brand img {
    max-height: 80px;
}

.carousel-inner .carousel-item img {
    max-height: 720;
    width: 100%;
    object-fit: cover;
}

.container {
    width: 1200px;
}

.icon i {
    font-size: 60px;
}

#img-content1 {
    max-width: 100%;
}